/* line 1, ../sass/slack.scss */
.story {
  background: url(../img/3.jpg);
}
/* line 3, ../sass/slack.scss */
.story .top {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  width: 100%;
  z-index: 99;
}
/* line 13, ../sass/slack.scss */
.story .top ul {
  float: right;
  line-height: 4.375rem;
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0;
}
/* line 20, ../sass/slack.scss */
.story .top ul li {
  display: inline-block;
}
/* line 23, ../sass/slack.scss */
.story .top ul li a {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1em;
  margin-left: 9px;
  opacity: 0.8;
  padding: 8px 7px 9px;
  position: relative;
  text-decoration: none;
}
/* line 42, ../sass/slack.scss */
.story .cta_ad {
  display: block;
  position: absolute;
  width: 100%;
  padding: 0;
}
/* line 48, ../sass/slack.scss */
.story .cta_ad .cta_story_header {
  margin-top: 200px;
  position: relative;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
  transform-origin: center bottom 0;
  letter-spacing: 0.0106rem;
  color: white;
}
/* line 67, ../sass/slack.scss */
.story .cta_ad .cta_container {
  padding-top: 0;
}
/* line 70, ../sass/slack.scss */
.story .cta_ad .cta_container .cta_subheader {
  display: block;
  font-size: 1.38rem;
  line-height: 1.75rem;
  margin: 40px auto 22px;
  max-width: 866px;
  padding: 0;
  width: 100%;
  color: white;
}
/* line 80, ../sass/slack.scss */
.story .cta_ad .cta_container .cta_subheader strong {
  font-weight: 900;
}
/* line 86, ../sass/slack.scss */
.story .cta_ad .cta_container .cta {
  transform-origin: center bottom 0;
  text-align: center;
  margin-left: 0;
  background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
}
/* line 93, ../sass/slack.scss */
.story .cta_ad .cta_container .cta .cta_form {
  vertical-align: middle !important;
}
/* line 98, ../sass/slack.scss */
.story .cta_ad .cta_container .cta .cta_form span .inline_input {
  margin-left: 0 !important;
  margin-right: 7px !important;
  font-size: 1.249rem;
  margin-bottom: 0;
  padding: 0.743rem;
  width: 240px;
  margin-right: 15px !important;
}
/* line 109, ../sass/slack.scss */
.story .cta_ad .cta_container .cta .cta_form .btn {
  vertical-align: top !important;
  letter-spacing: 0;
  font-size: 1.126rem;
  opacity: 1;
  cursor: pointer;
  line-height: 3rem;
  margin: 0;
  padding: 0;
  width: 184px;
  background: #56b68b none repeat scroll 0 0;
  border: 1px solid #56b68b;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: Slack-Lato,sans-serif;
  font-weight: 700;
  text-decoration: none;
}
/* line 130, ../sass/slack.scss */
.story .cta_ad .cta_container .cta .cta_footer {
  display: block;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  margin: 19px 0 0;
  text-align: center;
  width: 100%;
  color: #aaa;
}
/* line 139, ../sass/slack.scss */
.story .cta_ad .cta_container .cta .cta_footer .opt_cta_signin {
  color: #aaa;
}
/* line 144, ../sass/slack.scss */
.story .cta_ad .cta_container .cta .cta_footer a {
  color: #aaa;
}
/* line 152, ../sass/slack.scss */
.story .cta_ad .story_location {
  margin-top: 60px;
  bottom: 1.06rem;
  font-size: 0.85rem;
  line-height: 1.16rem;
  position: absolute;
  right: 1.59rem;
  padding: 0;
  text-align: left;
}
/* line 162, ../sass/slack.scss */
.story .cta_ad .story_location strong {
  font-size: 0.95rem;
  font-weight: 900;
}
/* line 166, ../sass/slack.scss */
.story .cta_ad .story_location strong a {
  color: #fff;
  text-decoration: none;
}
/* line 172, ../sass/slack.scss */
.story .cta_ad .story_location a {
  color: #fff;
  text-decoration: none;
}
